.postContentSection {
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  padding-bottom: 5rem;
  overflow: visible;
  position: absolute;
  
}
.timelineIdWrap {
  position: sticky;
  top: .5rem; 
  align-self: flex-start;
  max-width: 18%;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.headline {
  font-size: 1em;
}
.timelineId {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.timelineId li {
  padding: 0.5rem;
  font-size: 1em;
  border-right: 1px solid #404041;
  border-radius: 50%;
}

.active {
  color: rgb(255, 255, 255) !important;
}

.timelineId li a {
  color: #5d5d5f;
}

.timelineId li a:hover {
  color: #f1f0f0;
  text-decoration: none;
}


@media (max-width: 1024px) {
  .postContentSection {
    flex-direction: column;
    padding-top: 0;
  }

  .timelineIdWrap {
    max-width: 100%;
    top: -1rem;
    z-index: 10;
    display: none;
  }

  
  .timelineId {
    z-index: 99;
    background-color: rgb(12, 12, 12);
    flex-direction: row;
    
  }

  .timelineId li {
    font-size: 1rem;
    margin-right: 5px;
  }

  .circleIconTop {
    left: 3.38rem;
  }

  .circleIconBottom {
    bottom: -0.9rem;
    left: 3.38rem;
  }
}
