.postsInfoSection {
  display: grid;
  grid-template-columns: 2fr 12fr;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  margin-top: -0.2rem;
}

.lines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topLine {
  transform: rotate(180deg);
}

.imgArrow {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.imgArrow p{
  border: 1px solid #404041;
  border-radius: 50%;
  padding: .5rem 1rem;
}

.imgArrow svg {
  fill: #404041;
}


.postsInfoSection p {
  max-width: 40ch;
  color: #404041;
  text-align: justify;
}


.infoContent h1 {
  font-size: 3rem;
  line-height: clamp(2.925rem, 4.708vw + 2.042rem, 6.75rem);
  color: gray;
  font-weight: 600;
  margin-block-end: 0.4em;
  text-transform: capitalize;
}


.userInfo h3 {
  color: gray;
}

.commentsWrapper {
  padding: 1rem;
  border: 1px solid #404041;
  position: absolute;
  background-color: black;
}

.comments h3 {
text-transform: capitalize;
}

.commentBtn {
  background: transparent;
  color: #fff;
  padding: .5rem;
  cursor: pointer;
}

.commentBtn:hover{
  border:2px solid #404041;
}

/* Scroll Animation */

.middle h1,
.middle p, .middle h3 {
  color: #fff;
  transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.middle .imgArrow svg {
  fill: #fff;
  transition: fill 0.5s ease-in-out, color 0.5s ease-in-out;
}

.middle .user {
  color: gray;
  transition: color 0.5s ease-in-out, color 0.5s ease-in-out;
} 



@media (max-width: 1020px) {
  .postsInfoSection {
    /* display: flex; */
    /* display: grid;
    grid-template-columns: 4fr 18fr; */
    gap: 0;
  }

  .companiesInfoContent {
    padding-top: 3rem;
  }
  .infoContent {
    z-index: 2;
    padding-left: 0.5rem;
    margin-top: 1.3rem;
  }
}
